{% extends 'base.html.twig' %}

{% block body %}

	<div class="content">
		<H1>Liste des modes de chauffage/climatisation</H1>


		<div class="globalListe">
			{% if modes is not null %}

				{% for mode in modes  %}
					Nom:
					{{mode.nom}}
					{% if mode.tempMin is not null %}

						- Température Min:
						{{mode.tempMin}}C°
					{% endif %}

					{% if mode.tempMax is not null %}

						- Température Max:
						{{mode.tempMax}}C°
					{% endif %}

					<a href="{{ path('mode.edit',{'id':mode.id}) }}">
						<i class="material-icons">
							edit
						</i><a/>
						&nbsp;
						<a href="{{ path('mode.delete',{'id':mode.id}) }}">
							<i class="material-icons">
								delete
							</i><a/>
							<br>
						{% endfor %}
				{% else %}
				Liste des modes vide.
				{% endif %}

					<br>
				<div class="boutonListe">
				<a class="btn btn-success" id="" href="{{ path("mode.create") }}">Créer un mode</a>
			</div>
		</div>


	{% endblock %}

	{% block javascripts %}{% endblock %}
